.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #4caf50; /* WhatsApp Green */
  padding: 20px;
}

.language-selector {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ffffff;
}

.language-selector select {
  padding: 5px 10px;
  border-radius: 5px;
}

.login-card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333333;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-label {
  font-size: 1rem;
  margin-bottom: 5px;
  display: block;
  color: #333333;
}

.login-button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #45a049;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.register-link {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #333;
}

.register-text {
  color: #4caf50;
  cursor: pointer;
  text-decoration: underline;
}

.register-text:hover {
  color: #45a049;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-right: 8px;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
